body{
    font-family: Segoe UI, Segoe WP, Arial, Sans-Serif;
    background-color: white;
    height: 100% !important;
}

.imagem-clima-atual{
    height: 250px;
    width: 250px
}

p{
    color:white;
}

.texto-grande{
    min-width: 250px;
}

.card-clima{
    background-color: #282828;
    height: 555px;
}

#primeira{
    height: 100vh;
}

.cursive {
    font-family: cursive;
}

.pramos{
    color: white;
    font-size: 1.3em;
    text-align:right;
}

